/* Common features */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
}

h1 {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1.5px;
  padding: 50px 0;
  font-size: 32px;
  color: #1db954;
  filter: brightness(1.5);
  text-shadow: 1px 1px #b3b3b3;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  color: #b3b3b3;
  padding: 5px 0;
}

p {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 20px;
  color: #b3b3b3;
}

small {
  color: #b3b3b3;
}

#page-wrapper {
  width: 100%;
  height: 100%;
  background-color: black;
}

.container {
  max-width: 400px;
  margin: 0 auto;
}

.row {
  padding: 20px 0;
  text-align: center;
}

.col-12 {
  margin: 40px 0;
}

.loading {
  cursor: wait;
}

/* Sections */

h1::before {
  content: '\f51f';
  margin-right: 10px;
}

h1::after {
  content: '\f8d9';
  margin-left: 10px;
}

h1::before,
h1::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  font-size: 35px;
  text-shadow: none;
}

h2::before {
  content: '\f252';
  margin-right: 25px;
}

h2::after {
  content: '\f252';
  margin-left: 25px;
}

h2::before,
h2::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  font-size: 25px;
}

select#select-genre,
select#sort-year {
  cursor: pointer;
  height: 40px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  padding: 0 10px;
  border-radius: 5px;
  border: 2px solid #fff;
  background-color: #b3b3b3;
  transition: filter 0.25s, border 0.25s;
}

select#select-genre:hover,
select#sort-year:hover {
  filter: brightness(1.2);
  border: 2px solid #1db954;
}

#cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#cards-container > .music-disc {
  padding: 15px;
  transition all 0.25s;
}

.music-disc.active:hover {
  cursor: pointer;
  color: #1db954;
  filter: brightness(1.5);
}

.music-disc > img.disc-poster {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.music-disc > h3 {
  max-width: 150px;
}


/* ------------------- MEDIA QUERY ------------------- */

/* Breakpoint Small 576px sm */
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  h1 {
    font-size: 45px;
  }

  h1::before,
  h1::after {
    font-size: 40px;
  }

  h1::before {
    margin-right: 20px;
  }

  h1::after {
    margin-left: 20px;
  }

  h2 {
    font-size: 30px;
  }

  h2::before,
  h2::after {
    font-size: 30px;
  }
}

/* Breakpoint Medium 768px md */
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .row-md {
    display: flex;
    justify-content: space-around;
  }

  h1 {
    font-size: 55px;
  }

  h1::before,
  h1::after {
    font-size: 50px;
  }

  h1::before {
    margin-right: 45px;
  }

  h1::after {
    margin-left: 45px;
  }
}

/* Breakpoint Large 992px lg */
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  h1::before {
    margin-right: 55px;
  }

  h1::after {
    margin-left: 55px;
  }

  .music-disc > img.disc-poster {
    margin-bottom: 20px;
  }
}

/* Breakpoint Extra Large 1200px xl */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 22px;
  }

  select#select-genre,
  select#sort-year {
    height: 50px;
    font-size: 18px;
  }

  .music-disc > img.disc-poster {
    height: 165px;
    width: 165px;
}
